<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="text" formControlName="email" class="form-control" id="staticEmail" value="">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" formControlName="password" class="form-control" id="inputPassword">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        </form>
      </div>

    </div>
  </div>
</div>
