<div class="container" *blockUI="'user-loader'; message: loaderMessage; template: blockUiTemplateComponent">

  <div class="row justify-content-center mt-3">
    <div class="col-10 mt-3">
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary float-end" (click)="onAddNew()">Add New Article</button>
        </div>
      </div>
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Body</th>
              <th scope="col">Status</th>
              <th scope="col">Created Date</th>
              <th scope="col">Modified Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articleList">
              <td>{{article.title}}</td>
              <td>{{article.body}}</td>
              <td>{{article.status}}</td>
              <td>{{article.createdDate}}</td>
              <td>{{article.modifiedDate}}</td>
              <td>
                <div class="btn-group">

                  <button type="button" class="btn btn-secondary" (click)="onEdit(article.id)">Edit</button>
                   <button type="button" class="btn btn-secondary" (click)="onDelete(article.id)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
