<div class="container" *blockUI="'user-loader'; message: loaderMessage; template: blockUiTemplateComponent">

  <div class="row justify-content-center mt-3">
    <div class="col-10 mt-3">
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary float-end" (click)="onAddNew()">Add New Article</button>
        </div>
      </div>
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Body</th>
              <th scope="col">Publish</th>
              <th scope="col">Created Date</th>
              <th scope="col">Modified Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articleList">
              <td>{{article.title}}</td>
              <td>{{article.body | stripHtml | truncate:[100,'...']}}</td>
              <td>

                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" [checked]="article.status" (change)="onStatusChange(article)" role="switch" id="flexSwitchCheckDefault">

                </div>

              </td>
              <td>{{article.createdDate | date:'M/d/y'}}</td>
              <td>{{ article.modifiedDate.getFullYear()>2000 ? (article.modifiedDate | date:'M/d/y'):'---'}}</td>
              <td>
                <div class="btn-group">

                  <button type="button" class="btn btn-secondary" (click)="onEdit(article)">Edit</button>
                   <button type="button" class="btn btn-secondary" (click)="onDelete(article.id)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
