

<div class="container" *blockUI="'user-loader'; message: loaderMessage; template: blockUiTemplateComponent">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card mb-2 p-3"  *ngFor="let article of articleList">
        <h5 class="card-title">{{article.title}} </h5>
        <h6 class="card-subtitle text-muted mb-2">{{article.createdDate | date:'M/d/y'}} </h6>
          <p  class="card-text">{{article.body | stripHtml | truncate:[100,'...']}}</p>
          <a routerLink="/article" [queryParams]="{id:article.id}" class="card-link">Read More</a>
    </div>
  </div>
</div>



